/* Your custom styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}

#userDetails {
    display: flex;
    align-items: center;
}

#usernameDisplay {
    font-size: 1rem;
}

@media (max-width: 768px) {
    #loginButton {
        display: none;
    }
    #userDetails {
        display: flex;
    }
}
