a{
    text-decoration: none;
    color: inherit;
}

/*problem list style*/
.problems-container {
    /*margin-top:20px;*/
    padding: 50px;
    /*margin : 40px;*/
}
.problem-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.problem-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}
.problem-item:hover {
    background-color: #f8f9fa;
}

.problem-item {
    padding: 10px;
    border-bottom: 1px solid rgba(136, 131, 131, 0.51);
}
.problem-item:last-child {
    border-bottom: none;
}


/*difficulty styling*/
.difficulty {
    font-size: 0.9rem;
    font-weight: 500;
    background: #6c757d;
}

.difficulty-type-Easy {
    /*color: red;*/
    background-color: green;
}
.difficulty-type-Medium {
    background-color: #d1593e;

}
.difficulty-type-Hard {
    /*color: red;*/
    background-color: red;
}




/* General Styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #333;
    /*background: rgba(99, 90, 90, 0.53);*/
    /*background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");*/
    background-color: rgba(33, 33, 44, 0.26);
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-size: cover;
    background-attachment: fixed;
    /*background-blend-mode: overlay;*/
}


p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.82);
}
